betafaceapi.api:
  key:
  secret:

mico.api:
  server:
  username:
  password:

facedetection:
  inbox: /tmp/facedetection
  outbox: /tmp/facedetection.results

ffmpeg.path: /usr/local/bin/ffmpeg

camel.springboot.jmxEnabled: false

spring:
  data.rest.base-path: /api
  datasource:
    url:
    username:
    password:
    driverClassName: com.mysql.jdbc.Driver
    testOnBorrow: true
    validationQuery: SELECT 1
  jpa.hibernate:
    ddl-auto: validate
    naming_strategy: org.hibernate.cfg.ImprovedNamingStrategy
  output.ansi.enabled: ALWAYS