<html>
<head>
    <style>
        #thumbnails-view {
            overflow-x: auto;
            padding-left: 0;
            white-space: nowrap;
        }

        #thumbnails-view li {
            display: inline;
            list-style: none;
        }

        #thumbnails-view img {
            cursor: pointer;
        }

        #image-view {
            position: relative;
        }

        #image-view > img {
            position: absolute;
            top: 0;
            left: 0;
            cursor: crosshair;
        }
    </style>
</head>
<body>

<ul id="thumbnails-view"></ul>
<div id="image-view"></div>

<script type="text/html" id="tmpl-thumbnail-view">
    <img src="<%= _links.thumbnail.href %>"/>
</script>

<script type="text/html" id="tmpl-image-view">
    <img src="<%= _links.source.href %>"/>
</script>

<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/underscore-min.js"></script>
<script type="text/javascript" src="js/backbone-min.js"></script>

<script type="text/javascript">
    (function ($) {

        var authorURI = "http://localhost:8080/api/authors/3",
                fnCoords,
                eventBus,
                imageView;

        fnCoords = function (coords) {

            var x1 = coords[0].x > coords[1].x ? coords[1].x : coords[0].x;
            var y1 = coords[0].y > coords[1].y ? coords[1].y : coords[0].y;
            var x2 = coords[0].x > coords[1].x ? coords[0].x : coords[1].x;
            var y2 = coords[0].y > coords[1].y ? coords[0].y : coords[1].y;

            var width = x2 - x1;
            var height = y2 - y1;

            return {x: x1, y: y1, width: width, height: height};
        };

        eventBus = _.extend({}, Backbone.Events);

        /**
         * A HAL model, compatible with HAL APIs, to be extended by other models.
         *
         * @since 1.0.0
         */
        var HALModel = Backbone.Model.extend({

            blacklist: [],

            urlRoot: '',

            /**
             * Using HAL, the URL is the ID of the marker. If there's no URL, we provide the default.
             *
             * @since 1.0.0
             */
            url: function () {

                return this.has('id') ? this.get('id') : this.urlRoot;
            },

            /**
             * Initialize the Marker instance.
             *
             * @since 1.0.0
             */
            initialize: function () {

                this.listenTo(this, 'sync', this.onSync);

            },

            /**
             * Parses the response and sets the ID to the SELF HREF.
             *
             * @since 1.0.0
             */
            parse: function (response, options) {

                return _.extend(response, {id: response._links.self.href});
            },

            /**
             * Receive sync events (fired after a Model has been saved).
             *
             * @since 1.0.0
             */
            onSync: function (model, resp, options) {

                this.set('id', resp._links.self.href);

            },

            toJSON: function (options) {
                return _.omit(this.attributes, this.blacklist);
            }

        });

        /**
         * The Markers collection.
         *
         * @since 1.0.0
         */
        var HALCollection = Backbone.Collection.extend({

            elements: '',

            /**
             * Parse the response to return the embedded markers.
             *
             * @since 1.0.0
             */
            parse: function (response, options) {

                return response._embedded[this.elements];
            }

        });

        var Image = Backbone.Model.extend({});

        var Images = HALCollection.extend({
            model: Image,
            elements: 'images',
            url: "/api/images"
        });

        /**
         * A marker on an image.
         *
         * @since 1.0.0
         */
        var Marker = HALModel.extend({

            blacklist: ['author'],

            defaults: {
                author: {color: '#00f', name: 'Manual'}
            },

            urlRoot: '/api/faces',

            /**
             * Initialize the Marker instance.
             *
             * @since 1.0.0
             */
            initialize: function () {

                Marker.__super__.initialize.apply(this, arguments);

            },

            /**
             * Receive sync events (fired after a Model has been saved), it'll bind the marker with an image.
             *
             * @since 1.0.0
             */
            onSync: function (model, resp, options) {

                Marker.__super__.onSync.apply(this, arguments);

                // Update the linked image then update the linked author, chaining the updates in order to avoid
                // overlapping transactions.
                Backbone.sync('update', model, {
                    url: resp._links.image.href,
                    contentType: 'text/uri-list',
                    data: this._links.image.href,
                    emulateJSON: false,
                    success: function () {
                        Backbone.sync('update', model, {
                            url: resp._links.author.href,
                            contentType: 'text/uri-list',
                            data: authorURI,
                            emulateJSON: false
                        });
                    }
                });

            }

        });

        /**
         * The Markers collection.
         *
         * @since 1.0.0
         */
        var Markers = Backbone.Collection.extend({

            model: Marker,

            initialize: function (options) {

                this.options = options || {};

                this.url = options.url;

            },

            /**
             * Parse the response to return the embedded markers.
             *
             * @since 1.0.0
             */
            parse: function (response, options) {

                return response._embedded.faces;
            }

        });

        var RectView = Backbone.View.extend({

            events: {
                'click': 'select',
                'dblclick': 'delete'
            },

            initialize: function (options) {

                this.options = _.extend({}, this.defaults, options);
                this.listenTo(this.model, 'change:selected', this.render);

                this.render();
            },

            /**
             * Render the view.
             *
             * @return {RectView}
             * @since 1.0.0
             */
            render: function () {

                // Draw a DIV at the specified locations.
                this.$el.css("position", "absolute");
                this.$el.css("border", "1px solid " + this.model.get('author').color);
                this.$el.css("top", this.model.get('y'));
                this.$el.css("left", this.model.get('x'));
                this.$el.css("width", this.model.get('width'));
                this.$el.css("height", this.model.get('height'));

                // Set the background color according to the selection.
                this.$el.css("background-color", this.model.get('selected') ? 'rgba(3, 3, 3, 0.5)' : 'transparent');

                this.$el.html();

                return this;
            },

            /**
             * Receive click events.
             *
             * @since 1.0.0
             */
            select: function () {

                this.model.set('selected', !this.model.get('selected'));

            },

            delete: function () {

                this.model.destroy();
                this.remove();

            }

        });

        /**
         * A thumbnails view with all the list of available images.
         *
         * @since 1.0.0
         */
        var ThumbnailsView = Backbone.View.extend({

            el: '#thumbnails-view',

            tagName: 'ul',

            /**
             * Initializes the thumbnails view.s
             *
             * @since 1.0.0
             */
            initialize: function () {

                this.collection = new Images();

                this.listenTo(this.collection, 'add', this.addImage)

                this.collection.fetch();

                this.render();

            },

            /**
             * Called when a thumbnail is added to the collections of thumbnails.
             *
             * @since 1.0.0
             */
            addImage: function (model) {

                this.$el.append(new ThumbnailView({model: model}).render().$el);

            }

        });

        var ThumbnailView = Backbone.View.extend({

            events: {
                'click img': 'select'
            },

            tagName: 'li',

            template: _.template($("#tmpl-thumbnail-view").html()),

            render: function () {

                this.$el.html(this.template(this.model.attributes));

                return this;
            },

            /**
             * This method is called when a thumbnail is clicked.
             *
             * @since 1.0.0
             */
            select: function (event) {

                eventBus.trigger("select", this.model);

            }

        });

        var ImageView = Backbone.View.extend({

            /**
             * A coordinates buffer.
             *
             * @since 1.0.0
             */
            buffer: [],

            el: '#image-view',

            events: {
                'click img': 'click'
            },

            /**
             * An array of coordinates in the view.
             *
             * @since 1.0.0
             */
            subviews: new Backbone.Collection(),
            markers: new Backbone.Collection(),

            template: _.template($('#tmpl-image-view').html()),

            initialize: function () {

                this.listenTo(this.model, 'change', this.onChange);
                this.listenTo(this.subviews, 'add', this.onAddSubview);

                this.listenTo(eventBus, 'select', this.onSelect);

            },

            /**
             * Render the ImageView.
             *
             * @since 1.0.0
             * @returns {ImageView}
             */
            render: function () {

                this.$el.html(this.template(this.model.attributes));

                return this;
            },

            /**
             * Handle click events.
             *
             * @since 1.0.0
             * @param event A click event.
             */
            click: function (event) {

                // Get the coordinates.
                var offset = this.$('img').offset();
                var x = event.pageX - offset.left;
                var y = event.pageY - offset.top;
                this.buffer.push({x: x, y: y});

                // If we have two couples of coordinates, draw a rectangle.
                if (2 === this.buffer.length) {

                    var marker = new Marker(fnCoords(this.buffer));
                    marker._links = marker._links || {};
                    marker._links.image = this.model.get("_links").self;
                    marker.save();
                    this.markers.add([marker]);

                    // Empty the buffer.
                    this.buffer = [];

                }

            },

            onAddSubview: function (subview) {

            },

            /**
             * This is event is raised when a marker is added.
             *
             * @since 1.0.0
             * @param event
             */
            onAddMarker: function (marker) {

                // Create a rectangle and add it to the list of rectangles.
                var rect = new RectView({
                    model: marker, // The rectangle coordinates.
                    parent: this
                });
                this.subviews.add([rect]);
                // Append the rectangle to the view.
                this.$el.append(rect.render().$el);

            },

            /**
             * Listen when the local model is updated and refresh the markers.
             *
             * @since 1.0.0
             */
            onChange: function () {

                // Remove an existing listener.
                this.stopListening(this.markers, 'add', this.onAddMarker);

                // Set the new collection and listen on this collection.
                this.markers = new Markers({
                    url: this.model.get("_links").faces.href
                });
                this.listenTo(this.markers, 'add', this.onAddMarker);
                this.markers.fetch();

                this.render();

            },

            /**
             * Listens when a new image is selected and update the local model.
             *
             * @param model The selected image.
             * @since 1.0.0
             */
            onSelect: function (model) {

                this.model.set(model.attributes);

            }

        });

        var thumbnailsView = new ThumbnailsView();

        var image = new Backbone.Model({src: '001.jpg'});
        imageView = new ImageView({model: image});
    })(jQuery);
</script>

</body>
</html>